.main {
    width: 100vw;
    margin-top: 10vh;
    height: 90vh;
    display: flex;
    flex-direction: row;
    position: fixed;
}

@keyframes mainin {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.me {
    background-color: rgba(0, 0, 0, 0.85);
    width: 60vw;
    margin-left: 5vw;
    margin-top: 5vh;
    padding-right: 2vw;
    text-align: end;
    animation-delay: 2.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: mainin;
    opacity: 0;
}

.photo {
    background-color: rgba(0, 0, 0, 0.7);
    height: 120vh;
    width: 210px;
    position: absolute;
    top: -100px;
    right: -20vw;
    transform: rotate(15deg);
    background-color: none;
    z-index: 2;
    overflow: hidden;
    animation-duration: 2s, 1.4s;
    animation-name: slidein, shadowOpacity;
    animation-fill-mode: forwards, forwards;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    box-shadow: -1px 5px 69px -18px rgba(30, 30, 186, 1);
}

@keyframes slidein {
    0% {
        right: -20vw;

    }

    30% {
        right: 20vw;

    }

    99% {
        right: 5vw;
        background-image: url("https://th.bing.com/th/id/R.820a73d10d3abb6127bf26943b9af729?rik=37CBXK2A4X5IAA&riu=http%3a%2f%2f4.bp.blogspot.com%2f-RGupX7_-RiU%2fUtMUv2DXzkI%2fAAAAAAAAAus%2fMsEnw1ns71I%2fs1600%2fRayo.gif&ehk=%2bts6txe6KPyTi7u5HwJnNABm%2feAKk6jcaHOWvhb93is%3d&risl=&pid=ImgRaw&r=0");
        background-size: cover;
    }
    100% {
        right: 5vw;
        background-image: none;
    }
}

@keyframes shadowOpacity {

    0%,
    100% {
        box-shadow: -1px 5px 69px -15px rgba(30, 30, 186, 1);
    }

    50% {
        box-shadow: -1px 5px 69px 15px rgba(30, 30, 186, 0.3);
    }
}

.my-photo {
    width: 380px;
    display: block;
    position: absolute;
    top: 10px;
    right: -60px;
    transform: rotate(-15deg);
    filter: drop-shadow(-8px 1px 11px rgba(0, 0, 0, 0.75));
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.photo.show-my-photo .my-photo {
    opacity: 1;
}

.contact-info {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.photo.show-contact-info .contact-info {
    opacity: 1;
}

.contact {
    margin-top: 70vh;
    margin-left: 10px;
    transform: rotate(-15deg);
    text-align: center;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 2%;
    align-items: center;
    transform: rotate(-15deg);
}

.linkedin {
    width: 50%;
}

.git-hub {
    width: 75%;
    margin-bottom: 6px;
}

.mail {
    width: 27%;
    margin-bottom: 6px;
}

.contact-info>* {
    opacity: 0;
    /* Inicia con opacidad 0 */
    transition: opacity 0.5s ease-in-out;
    /* Transición suave de opacidad */
}

/* Mostrar los elementos cuando .photo tiene la clase .show-contact-info */
.photo.show-contact-info .contact-info>* {
    opacity: 1;
    /* Hace visible los elementos cuando .photo tiene la clase .show-contact-info */
}

.all-info {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    height: 50vh;
    width: 55vw;
    text-align: start;
    padding-left: 5vw;
    padding-right: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: white rgba(30, 30, 186, 0.5);
}

.contacts a {
    display: flex;
    justify-content: center;
}

.contact-info h4 {
    margin-left: 10px;
}

.helm {
    position: absolute;
    top: 90px;
    left: 13px;
    rotate: -11deg;
    width: 150px;
    opacity: 1;
    animation-duration: 5s;
    animation-name: appear;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes appear {
    0% {
        opacity: 0;

    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.helm:hover {
    opacity: 0;
    transition-duration: 1s;

}

@media (max-width: 680px) {
    .photo {
        transform: rotate(100deg);
        height: 180vh;
        width: 250px;
        top: -35vh;
    }
    .helm {
        rotate: -11deg;
    }
    .my-photo {
        transform: rotate(-100deg);
        top: 400px;
            right: -7vw;
            width: 280px;
    }
    @keyframes slidein {
        0% {
            right: -180vw;
            top: -20vh;
    
        }
    
        50% {
            right: 60vw;
            top: -70vh;
    
        }
    
        99% {
            top: -63vh;
            right: 5vw;
            background-image: url("https://th.bing.com/th/id/R.820a73d10d3abb6127bf26943b9af729?rik=37CBXK2A4X5IAA&riu=http%3a%2f%2f4.bp.blogspot.com%2f-RGupX7_-RiU%2fUtMUv2DXzkI%2fAAAAAAAAAus%2fMsEnw1ns71I%2fs1600%2fRayo.gif&ehk=%2bts6txe6KPyTi7u5HwJnNABm%2feAKk6jcaHOWvhb93is%3d&risl=&pid=ImgRaw&r=0");
            background-size: cover;
        }
        100% {
            top: -63vh;
            right: 5vw;
            background-image: none;
        }
    }
    .helm {

        top: 506px;
        left: 6.8vw;
        rotate: -98deg;
        width: 110px;

    }
    .contact {
        margin-top: 110vh;
        margin-left: -80px;
        transform: rotate(-100deg);

    }
    .contacts {
        margin-top: -65px;
        transform: rotate(-100deg);
    }
    .me {

        width: 80vw;
        height: 40vh;
        margin-left: 5vw;
        margin-top: 47vh;
        padding-right: 2vw;
    }
    .all-info{
        position: relative;
    }
    @media (min-height: 770px) and (max-height: 860px) {
        .my-photo {
            top: 500px;
        }
        .helm {
            top: 606px;
            left: 6.8vw;
            rotate: -98deg;
            width: 110px;
        }
        .contact {
            margin-top: 105vh;
            margin-left: -80px;
            transform: rotate(-100deg);
    
        }
        
    }
    @media (min-height: 860px) and (max-height: 1000px) {
        .my-photo {
            top: 600px;
        }
        .helm {
            top: 706px;
            left: 6.8vw;
            rotate: -98deg;
            width: 110px;
        }
        .contact {
            margin-top: 105vh;
            margin-left: -80px;
            transform: rotate(-100deg);
    
        }
        
    }
}
