body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw -30px;
    height:10vh;
    background-color: gray;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 30px;
}